/* 그리드 레이아웃 설정 */
.profile-career-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0rem;
    align-items: center;
    padding: 3rem 0;
    justify-items: center;
    justify-content: center;
    align-content: stretch;
}

/* 좌측 프로필 영역 그리드 */
.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 우측 약력 영역 그리드 */
.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

